.techWrapper {
    padding: 50px;
}


.techUpperSpan1,
.techUpperSpan2 {
    font-family: "Inter";
}

.techUpperSpan2 {
    font-weight: 400;
    font-size: 20px;
}

.techUpperSpan1 {
    font-weight: 600;
    font-size: 40px;
}

.techGreen {
    color: rgba(76, 175, 79, 1);
}

.techLower {
    margin: 50px 0px 0px 0px;
    border-top: 1px solid;
    height: 530px;
    display: flex;
    justify-content: space-between;
}

.techLowerLeft {
    padding: 50px 0px;
    font-weight: 500;
    font-size: 24px;
    border-right: 1px solid;
    font-family: "Inter";
    width: 700px;
}

.dv {
    width: fit-content;
    margin-bottom: 30px;
    padding: 5px 26px;
    border: none;
    border-radius: 39px;
}

.techLowerRight {
    padding: 30px 40px;
}

.itmOpt,
.optTitle {
    font-family: "Inter";
}

.optTitle {
    font-weight: 600;
    font-size: 28px;
}

.itmOpt {
    font-weight: 500;
    font-size: 20px;
}

.itmMap {
    background-color: rgba(243, 244, 246, 1);
    padding: 25px 15px;
    border-radius: 47px;
    width: 220px;
    height: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.birdy {
    margin-left: 10px;
}

.optOptions {
    display: flex;
    flex-wrap: wrap;
}

.ma1 {
    margin-bottom: 35px;
}