.boxes {
    width: 300px;
    padding: 9px 16px;
    border-radius: 6px;
    border: none;
    margin-bottom: 10px;
    height: 40px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
}

.boxes:focus {
    outline: none;
}