.sliderMain {
    padding: 40px;
    padding-bottom: 0px;
}

.sliderUpper,
.sliderLower {
    padding-left: 70px;
}

.sliderLower {
    padding-top: 50px;
}

.sliderGreen {
    color: #41AE5D;
    font-weight: 600;
    font-size: 36px;
    font-family: "Inter";
}

.sliderBold {
    font-weight: 600;
    font-size: 36px;
    font-family: "Inter";
}

.sliderRegular {

    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 60px;

}

.sliderButton {
    font-family: "Inter";
    font-weight: 600;
    margin-top: 15px;
    background: #E6E6E6;
    font-size: 10px;
    font-size: 16px;
    padding: 19px 58px;
    border-radius: 6px;

}

.slideDesc {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 28px;
}

.slideImage {
    height: 400px;
}